# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "QodxVNfV5WkCVd0LYqP7dZzA0T76afIUvUBRFhZ4boLBHK756ClERtafar8FupNRSAorbS9JyNSgQsXSdxxS0pcPHPpjFo7lzX3yaZidKNTDVlC1H42GGVM9e/7+1H2gyhEgQUsHD3tFiX7R5jDMB8Hu5qIyvHaGUyNSuzbt1SF31dxxRYgeO9Hbi0TN8RcXWRubPAS9jN+XiF95ec7PwKE+X9Yq9d7UkAgKT1QizM4vvZ49jHxuZtFgwdcSX08Nde7NcotuvDfaaNf3U2Y2oBvS/NSY+ED2F+anDQCVCAJOI1OxKw650Ufi6CH0ZzG1YmB1rWQn0Y1IkWnmquU+ILrTXjJfZugRgvG9LhHpYLAYiTIphwJbLSbNcwKFFBmSRvkKDfjjjRVAapno97T0hhdH4M1mf6syeqsla+FKw1nmFg8hSmyi8ZJqG+OrcOixlLnpY0YMMB5dSfW/FyrutuxqCmBLShXWcvUdyGdLzAUFHooXDSSTW5VbZnflawrJPWyqgmKNbcJIooG9dr5dTsBkRcs6OZa4CO9iSPmHBL4PhBTiHL/BZyVznlvNhjR2fuE7NevzOCUKq91LKikxmFvrdnLsX7Hv85bQ3GNjo9y0NQTNNsojimzrh6oiy0JCxxVfWfUAfeGGIPPU6qODrCUPc8HRFww9caXnoy4YkPk="


before_install:
    - brew remove --force $(brew list)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH

      conda update --yes conda
      conda install --yes conda-build jinja2 anaconda-client
      conda config --add channels conda-forge
      

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
